body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(200, 237, 252);
} 

.search{
    display: flex;
    padding:  5px 10px;
    margin-top: 11px;
}
input{
    margin-left: -10px;
    width: 200px;
    padding: 16px;
    border-radius: 16px;
    height: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: rgb(206, 236, 246);
}
::placeholder{
    color: black;
}
#city{
    margin-top: 33px;
    font-size: 2rem;
}
button{
    width: 70px;
    padding: 5px 10px;
    height: 35px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: rgb(206, 236, 246);
    margin-top: 3px;
    margin-inline: 7px;
}
.container{
    width: 300px;
    padding: 22px;
    text-align: center;
    border-radius: 5px;
    margin-top: 4%;
    background-color: white;
}
img{
    width: 210px;
    margin-top: -22px;
}
#temperature{
    font-size: 2.5rem;
    /* margin-top: -29px; */
    margin-top: -3px;
}
#cloud{
    font-size: 1.5rem;
    margin-top: -33px;

}
